<%= render "shared/header" %>
<div class='main'>

  <%# 投稿物一覧 %>
  <div class='item-contents'>
    <h2 class='title'>みどりのブログ</h2>
    <ul class='item-lists'>
      <% @contents.each do |content| %>
        <li class='content-list'>
          <div class='item-img-content'>
            <%= image_tag content.image, class: "item-img-wide" %>
            <div class="more">
              <span><%= image_tag 'arrow_top.png' %></span>
              <ul class="more_list">
                <li>
                  <span style="color:#1d50a2;"><%= link_to '詳細', content_path(content.id), method: :get %></span>
                </li>
                <% if user_signed_in? && current_user.id == content.user_id %>
                  <li>
                    <span style="color:#1d50a2;"><%= link_to '編集', edit_content_path(content.id), method: :get %></span>
                  </li>
                  <li>
                    <span style="color:#1d50a2;"><%= link_to '削除', content_path(content.id), method: :delete %></span>
                  </li>
                <% end %>
                <li>
                  <span style="color:#1d50a2;"><%= link_to '投稿者', user_path(content.user.id), method: :get %></span>
                </li>
              </ul>
            </div>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <span style="color:#8f2d12"><%= content.title %></span>
              <span style="font-size:70%"><%= content.user.farmland_name %>(<%=content.user.farmland_region%>)</span>
              <br> <span style="font-size:80%; color:#4c4948"><%= content.text %></span>
              <br><span style="font-size:70%; color:rgb(135, 156, 130)"><%= content.created_at.to_s(:datetime_jp) %></span>
            </h3>
          </div>
        </li>
      <% end %>
      <% if @contents.nil? %>
        <h3 class='item-name'>
          ブログを投稿してね！
        </h3>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to(new_content_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>