<div class='footer'>
  <div class='footer-contents'>
    <div class='green-details'>
      <h2 class='footer-content-head'>緑の市場について</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '緑の市場利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='green-details'>
      <h2 class='footer-content-head'>緑の市場を見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'みどりブログ一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='green-details'>
      <h2 class='footer-content-head'>緑の市場について</h2>
      <ul>
        <li><%= link_to '緑の市場ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to '緑の市場ロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("green-logo-color.png", class:"logo-white"), "#" %>
  <p>© GreenMart</p>
</div>