<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-img" %>

      <%# <% unless item.order.nil? %>
      <% unless @item.stock != 0 %>
        <div class="sold-out">
          <span>現在在庫切れです!!</span>
        </div>
      <% end %>

    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.shipping_charge.charge %>
      </span>
      <div>
        <%= @item.amount %>kg    <span style="color:#8f2d12">残り<%= @item.stock %></span>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
      <% elsif @item.stock != 0 %>
        <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value">【<%= @item.user.farmland_name %>】  <%= @item.user.nick_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.condition %></td>
        </tr>
        <tr>
          <th class="detail-item">農薬の有無</th>
          <td class="detail-value"><%= @item.pesticides.condition %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.shipping_charge.charge %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.shipping_source.name %>  (原産地：<%= @item.user.farmland_region %>)</td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_date.date %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%# コメントの表示 %>
<div class="comment-show">
  <div class="comment-box">
  <h2 class='comment-title'>この商品に関する質問・コメント</h2>
    <% if user_signed_in? %>
      <%= form_with model: [@item, @itemcomment] ,local: true do |f|%>
        <div>
          <%= f.text_field :text, class:"comment-text", placeholder:"ここにコメントを記入してね！", id:"contentcomment_text" %>
        </div>
        <div>
          <%= f.submit "送信", class:"comment-actions" %>
        </div>
      <% end %> 
    <% end%>
    <ul class="comments_lists">
      <% @itemcomments.each do |itemcomment| %>
        <li class="comments_list">
          <%= link_to itemcomment.user.nick_name, user_path(itemcomment.user.id), class: :itemcomment_user %>
          ▶︎　<%= itemcomment.text%>
          <br><span style="font-size:70%; color:rgb(135, 156, 130)"><%= itemcomment.created_at.to_s(:datetime_jp) %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>
